@if (IsEditable)
{
    <Card Shadow="Shadow.Default" Margin="Margin.Is3.OnY">
        <CardBody>
            <TextEdit @bind-Text="@newStepText" Placeholder="e.g. Prepare coffee at home than buying out." />
            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <Paragraph TextColor="TextColor.Warning">@errorMessage</Paragraph>
            }
        </CardBody>
        <CardFooter>
            <Button Disabled="@string.IsNullOrEmpty(newStepText)" Color="Color.Warning" Float="Float.Start" Margin="Margin.Is2" Clicked="AddStep">Add Step</Button>
        </CardFooter>
    </Card>
}

@if (HabitState.CurrentHabit.ImplementationDetails.Steps != null)
{
    <DropContainer @ref="dropContainer" TItem="ImplementationStep" Items="@HabitState.CurrentHabit.ImplementationDetails.Steps" ItemsFilter="(i,s) => {return true;}" ItemDropped="@ItemDropped" Flex="Flex.Wrap.Grow.Is1">
        <ChildContent>
            <DropZone @ref="dropZone" AllowReorder="IsEditable" DropAllowed="(i) => IsEditable" TItem="ImplementationStep" Name="Steps"
                      Border="Border.Rounded" Background="Background.Light" Padding="Padding.Is3" Margin="Margin.Is3" Flex="Flex.Grow.Is1">
            </DropZone>
        </ChildContent>
        <ItemTemplate>
            <Card Shadow="Shadow.Default" Margin="Margin.Is3.OnY">
                <CardBody>
                   <HabitStep Step="@context" OnRemove="ConfirmRemoveStep" />
                </CardBody>
            </Card>
        </ItemTemplate>
    </DropContainer>

    @if (confirmModalId != Guid.Empty)
    {
        <ConfirmModal ConfirmTitle="Remove Step" ConfirmText="remove this step?" OnConfirm="() => RemoveStep(confirmModalId)" OnCancel="CancelRemoveStep"></ConfirmModal>
    }

    if (!HabitState.CurrentHabit.ImplementationDetails.Steps.Any())
    {
        <Paragraph TextColor="TextColor.Danger">
            No steps added
        </Paragraph>
    }
}



@code {
    DropContainer<ImplementationStep> dropContainer;
    DropZone<ImplementationStep> dropZone;

    [Parameter]
    public bool IsEditable { get; set; }

    Guid confirmModalId = Guid.Empty;

    private Task ItemDropped(DraggableDroppedEventArgs<ImplementationStep> args)
    {
        var targetSequence = args.IndexInZone;
        var targetItem = args.Item;
        RearrangeSteps(targetSequence, targetItem);
        return Task.CompletedTask;
    }

    string newStepText = "", errorMessage = "";

    void RearrangeSteps(int targetSequence, ImplementationStep targetItem)
    {
        var newSteps = new List<ImplementationStep>();

        newSteps.AddRange(HabitState.CurrentHabit.ImplementationDetails.Steps.Where(s => s.Id != targetItem.Id).OrderBy(s => s.Sequence));
        newSteps.Insert(targetSequence, targetItem);

        HabitState.CurrentHabit.ImplementationDetails.Steps = newSteps;
        ReorderSteps();
    }

    void ReorderSteps()
    {
        for (int index = 0; index < HabitState.CurrentHabit.ImplementationDetails.Steps.Count; index++)
        {
            HabitState.CurrentHabit.ImplementationDetails.Steps[index].Sequence = index + 1;
        }
        dropContainer.Refresh();
    }

    void AddStep()
    {
        if (!string.IsNullOrEmpty(newStepText) && ValidateNewStep())
        {

            int newSequence = HabitState.CurrentHabit.ImplementationDetails.Steps.Count;
            HabitState.CurrentHabit.ImplementationDetails.Steps.Add(new ImplementationStep
                {
                    Id = Guid.NewGuid(),
                    Step = newStepText,
                    Sequence = newSequence
                });
            ReorderSteps();
            newStepText = "";
        }
    }

    void ConfirmRemoveStep(Guid stepId)
    {
        confirmModalId = stepId;
    }

    void CancelRemoveStep()
    {
        confirmModalId = Guid.Empty;
    }

    void RemoveStep(Guid stepId)
    {
        CancelRemoveStep();
        var step = HabitState.CurrentHabit.ImplementationDetails.Steps.FirstOrDefault(s => s.Id == stepId);
        if (step != null)
        {
            HabitState.CurrentHabit.ImplementationDetails.Steps.Remove(step);
            ReorderSteps();
        }
    }

    bool ValidateNewStep()
    {
        if (HabitState.CurrentHabit.ImplementationDetails.Steps.Any(s => s.Step.Equals(newStepText, StringComparison.CurrentCultureIgnoreCase)))
        {
            errorMessage = "You have already recorded this step";
            return false;
        }
        else
        {
            errorMessage = string.Empty;
            return true;
        }

    }
}
