@if (Habit != null)
{
    <Card Margin="Margin.Is2.FromBottom">
        <CardBody>
            <Row>
                <Column ColumnSize="ColumnSize.Is1">
                    <Icon Style="@CategoryIconStyle" Name="@CategoryIcon" IconSize="IconSize.x4" TextColor="TextColor.Success" title="@CategoryToolTip" />
                </Column>
                <Column ColumnSize="ColumnSize.Is11">
                    <CardTitle Size="5">
                        <Heading Size="HeadingSize.Is5">@Habit.SystemName</Heading>
                    </CardTitle>
                    <CardText TextSize="TextSize.Medium" Margin="Margin.Is2.FromBottom">
                        @Habit.MeasurableResult
                    </CardText>
                    <Button Color="Color.Success" Margin="Margin.Is2.FromTop.Is2.FromEnd" Type="ButtonType.Link" To="@($"/details/{Habit.Id}")">
                        Read more <Icon Name="IconName.ArrowRight" />
                    </Button>
                    @if (Habit.ImplementationDetails?.IsImplementationDue ?? false)
                    {
                        <Button Color="Color.Success" Margin="Margin.Is2.FromTop" Type="ButtonType.Link" To="@($"/{Habit.Id}/review")">
                            Review <Icon Name="Blazorise.Icons.Material.MaterialIcons.RemoveRedEye" Margin="Margin.Is1.FromStart" />
                        </Button>
                    }

                </Column>
            </Row>
        </CardBody>
    </Card>
}

@code {
    [Parameter]
    public HabitModel Habit { get; set; }

    private string CategoryIcon;
    private string CategoryIconStyle = "cursor: default;";
    private string CategoryToolTip = "";
    private bool isOther = false;

    protected override void OnParametersSet()
    {
        if (Habit.Category.HasValue)
        {
            switch (Habit.Category)
            {
                case HabitCategory.Personal:
                    CategoryIcon = Blazorise.Icons.Material.MaterialIcons.Person;
                    break;
                case HabitCategory.Career:
                    CategoryIcon = Blazorise.Icons.Material.MaterialIcons.Work;
                    break;
                case HabitCategory.Health:
                    CategoryIcon = Blazorise.Icons.Material.MaterialIcons.FitnessCenter;
                    break;
                case HabitCategory.Relationships:
                    CategoryIcon = Blazorise.Icons.Material.MaterialIcons.Favorite;
                    break;
                default:
                    CategoryIcon = Blazorise.Icons.Material.MaterialIcons.LiveHelp;
                    isOther = true;
                    break;
            }

            CategoryToolTip = (!isOther ? Habit.Category?.GetDescription() : Habit.CategoryDescription) ?? string.Empty;
        }
        base.OnParametersSet();
    }
}
