@page "/{Id:guid}/review"
@inject HabitService HabitService
@inject NavigationManager Navigation

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <Alert Color="Color.Danger" Visible="@false">
        <AlertMessage>Error!</AlertMessage>
        <AlertDescription>@ErrorMessage</AlertDescription>
    </Alert>
    <Heading Size="HeadingSize.Is4">@ErrorMessage</Heading>
    <Button Color="Color.Primary" Margin="Margin.Is2.FromTop" Type="ButtonType.Link" To="/">
        Go to home&nbsp; <Icon Name="IconName.Home" />
    </Button>
}
else if (Model != null)
{
    <Accordion>
        <Collapse @ref="habitDetails">
            <CollapseHeader>
                <Heading Size="HeadingSize.Is5">
                    <AccordionToggle>Habit Details (Click to @(habitDetails.Visible ? "hide" : "show"))</AccordionToggle>
                </Heading>
            </CollapseHeader>
            <CollapseBody>
                <Fields>
                    <Field ColumnSize="ColumnSize.IsFull">
                        <FieldLabel>System Name</FieldLabel>
                        <TextEdit Text="@Model.SystemName" ReadOnly />
                     </Field>
                     <Field ColumnSize="ColumnSize.IsFull">
                         <FieldLabel>Measurable Result</FieldLabel>
                         <TextEdit Text="@Model.MeasurableResult" ReadOnly />
                     </Field>
                     <Field ColumnSize="ColumnSize.IsFull">
                         <FieldLabel>Why</FieldLabel>
                         <TextEdit Text="@Model.Why" ReadOnly />
                     </Field>
                     <Field ColumnSize="ColumnSize.IsFull">
                         <FieldLabel>Category</FieldLabel>
                         <TextEdit Text="@(Model.Category != HabitCategory.Other ? (Model.Category?.GetDescription() ?? "") : Model.CategoryDescription)" ReadOnly />
                     </Field>
                 </Fields>
             </CollapseBody>
         </Collapse>
     </Accordion>
     <Card Margin="Margin.Is5.FromTop.Is5.FromBottom">
        <CardBody>
            <CardTitle Size="5">
                Let us review the progress so far
            </CardTitle>
            <ReviewHabitForm Habit="Model" OnSubmit="CreateHabitReview" OnCancel="CancelHabitReview"></ReviewHabitForm>
        </CardBody>
     </Card>
}

@code {
    [Parameter]
    public Guid Id { get; set; }

    [Inject] INotificationService NotificationService { get; set; }

    bool showLoading = false;
    string ErrorMessage = string.Empty;

    public HabitReviewModel? Model { get; set; }

    private Collapse habitDetails;

    protected override async Task OnParametersSetAsync()
    {
        showLoading = true;
        var result = await HabitService.ReviewHabit(Id);
        showLoading = false;

        if (!result.IsSuccess)
        {
            Model = null;
            ErrorMessage = result.Message;
        }
        else
        {
            ErrorMessage = string.Empty;
            Model = result.Value;
        }

        await base.OnParametersSetAsync();
    }

    private async Task CreateHabitReview(HabitReviewModel model)
    {
        var result = await HabitService.AddHabitReview(model);
        if (result.IsSuccess)
        {
            await NotificationService.Success("Review added successfully!", "Success!");
            CancelHabitReview();
        }
        else
        {
            await NotificationService.Error($"Error adding habit review - {result.Message}", "Error!");
        }
        
    }

    private void CancelHabitReview()
    {
        Navigation.NavigateTo("/");
    }
}

