@using UniqueHabits.UI.Models;
@inject HabitState HabitState
@inject IHabitService HabitService
@inject NavigationManager NavigationManager
@page "/add-habit"
<PageTitle>@Title</PageTitle>

<h3>@Title</h3>

<EditForm Model="@HabitModel" OnValidSubmit="AddHabit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group row">
        <label for="@HabitModel.What" class="col-sm-12 col-form-label">What Result do you want?</label>
        <div class="col-sm-12">
            <InputText @bind-Value="@HabitModel.What" class="form-control" placeholder="What Result do you want?"></InputText>
            <ValidationMessage For="@(() => HabitModel.What)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="@HabitModel.Why" class="col-sm-12 col-form-label">Why do you want the result?</label>
        <div class="col-sm-12">
            <InputTextArea @bind-Value="@HabitModel.Why" class="form-control" placeholder="Why do you want the result?"></InputTextArea>
        </div>
    </div>
    <div class="form-group row">
        <label for="@HabitModel.StartDate" class="col-sm-12 col-form-label">Start Date</label>
        <div class="col-sm-12">
            <InputDate @bind-Value="@HabitModel.StartDate" class="form-control"></InputDate>
            <ValidationMessage For="@(() => HabitModel.StartDate)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="@HabitModel.StartDate" class="col-sm-12 col-form-label">Category</label>
        <div for="@HabitModel.Category" class="col-sm-12 col-form-label">
            <InputSelect @bind-Value="@HabitModel.Category" class=" form-control form-select">
                <option value="">--Select Category--</option>
                @foreach (var category in Enum.GetValues<HabitCategory>())
                {
                    <option value="@category">@category</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => HabitModel.Category)" />
        </div>
    </div>
    <div class="form-field">
        <button type="submit" class="btn btn-success">Submit</button>
        <button type="button" class="btn btn-primary">Cancel</button>
    </div>
</EditForm>

@code {
    [Parameter]
    public bool IsEdit { get; set; } = false;
    [Parameter]
    public HabitModel HabitModel { get; set; } = new();

    string Title => IsEdit ? "Customize a Habit" : "Add New Habit";

    private void AddHabit()
    {
        HabitState.CurrentHabit = Habit.Create(HabitModel.HabitId, HabitModel.What, HabitModel.Why, HabitModel.StartDate, HabitModel.Category.GetValueOrDefault());
        HabitService.AddHabit(HabitState.CurrentHabit);
        NavigationManager.NavigateTo("/habits");
    }
}
